
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('components/banner.css');
@import url('components/card.css');
@import url('components/footer.css');
@import url('components/game_of_life.css');
@import url('components/navbar.css');
@import url('components/projects.css');

*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

*{
  font-family: 'Encode Sans', Arial, Helvetica, sans-serif;
  font-size: 14pt;
  font-weight: 300;
  text-decoration: none;
}

.condensed{
  font-family: 'Encode Sans Condensed', Arial condensed, Helvetica condensed, sans-serif;
}

html{
  scroll-behavior: smooth;
}

li>a{
  color: black;
  flex-wrap: wrap;
  font-family: 'Encode Sans', sans-serif;
  font-size: 14pt;
  letter-spacing: 0.25em;
}

h1, h2, h3{
  color: white;
  font-size: 50pt;
  font-weight: 800;
}


h3{
  color: black;
  font-size: 30pt;
  padding-bottom: 15px;
  text-align: center;
  text-shadow: white -4px 0px;
}

.section-title{
  margin: auto;
  width: 100%;
}

a:hover{
  color: #777;
}



@media screen and (max-width:400px) {
  #contacts-text{
    justify-content: flex-end;
    text-align: end;
  }

  #contact{
    height: 100% auto;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0 50px 0;
  }

  li>a{
    color: black;
    flex-wrap: wrap;
    font-family: 'Encode Sans', sans-serif;
    font-size: 12pt;
    letter-spacing: 0.25em;
  }


}
