#card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  max-width: 900px;

}

.card{
  background-color: rgb(255, 255, 255);
  border: 1px solid #ddd;
  border-radius: 0;
  height: auto;
  margin-bottom: 30px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.452) 5px 5px;
}

.card >header{
  background-color: black;
  color: white;
  margin: -15px;
  margin-bottom: 10px;
  padding: 10px;
  padding-left: 15px;
}

.description {
  height: 5em;
  overflow-y: scroll;
}

.card > header > div{
  border-left: 10px solid;
  font-family: 'Encode Sans Condensed';
  font-size: 18pt;
  font-weight: 600;
  padding-left: 8px;
}

.button{
  background-color: black;
  height: auto;
  margin: auto;
  padding: 10px;
  text-align: center;
  width: 150px;
}

.button {
  color: white;
  font-size: 18pt;
  text-align: center;
  text-decoration: none;
}

.button:hover{
  color: white;
}

.screenshot{
  border: solid 1px;
  max-width: 100%;
  margin: 10px 0;

}


@media screen and (max-width: 400px) {
  .card{
    background-color: rgb(255, 255, 255);
    /* border: 1px solid; */
    height: auto;
    margin-bottom: 30px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.452) 5px 5px;
  }

  .card > div > p{
    margin: 10px;
  }

}
