nav{
  background-color: white;
  height: 60px;
  max-width: 100vw;
  padding-top: 16px;
  position: fixed;
  width: 100%;
  z-index: 15;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px;
}

/* nav > ul{
  align-items: center;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: auto;
  max-width: 900px;
  padding: 0 20px 0 20px;
} */
